*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
}

body {
  background-image: url("darkroom.jpg");
  align-items: center;
  color: #fefefe;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 140%;
  min-height: 100vh;
}
h1{
margin-right: 10px;
}
main {
  font-size: 2rem;
}
button {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: red;
  cursor: pointer;
}
